{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["standard"],
  "rules": {
    "padded-blocks": 0,
    "curly": ["error", "multi-line"],
    "brace-style": ["error", "stroustrup"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
  }
}
